<launch>
    <!-- <include file="$(find rosserial_server)/launch/serial_arduino.launch"/> -->
    <include file="$(find rosserial_server)/launch/serial_secondhalf_stm.launch"/>
    <node name="serial_arduino" pkg="rosserial_python" type="serial_node_1.py" output="screen"/>
    <node name= "remote_node" pkg="remote_control" type="remote" output="screen"/>
</launch>